.footer-area
    +desktop()
        padding-top 100px
        background #f5f5f5
        padding-bottom 95px
    +mobile()
        padding-bottom 45px
        padding-top 50px
        background #f5f5f5
.container
    +desktop()
        width 100%
        display flex
        flex-direction: row
        justify-content: center
        padding-right 15px
        padding-left 15px
        margin-right auto
        margin-left auto
    +mobile()
        width 100%
        padding-right 15px
        padding-left 15px
        margin-right auto
        margin-left auto

.column
    +desktop()
        max-width 25%
        width 100%
        justify-content center
        min-height 1px
        padding-right 15px
        padding-left 15px
    +mobile()
        
        width 100%
        justify-content center
        padding-right 15px
        padding-left 15px
.footer-widget
    +desktop()
        text-align center
        margin-top 30px
    +mobile()
        text-align center
        margin-top 30px
    

.h4
    +desktop()
        font-size 15px
        letter-spacing 0.05px
        margin-bottom 17px
        color #585858
        font-family 'sans-serif'
    +mobile()
        font-size 15px
        letter-spacing 0.05px
        margin-bottom 17px
        color #585858
        font-family 'sans-serif'
    

.centerfooter
    text-align: center;

.footer-logo
    +desktop()
        margin-bottom 25px
        align-items: center

.footer-nav
    +desktop()
        margin-bottom 13px
        padding-bottom 15px
        position relative
        flex-direction row
        justify-content center
    +mobile()
        flex-direction row
        justify-content left
        flex-wrap: nowrap 

.p
    +desktop()
        color #585858
        font-size 14px
        font-family 'sans-serif'
        text-align: center
    +mobile()
        color #585858
        font-size 14px
        font-family 'sans-serif'
        text-align: center

.linav
    +desktop()
        margin: 0 19px
        font-size 14px
        color #686868
        font-family 'sans-serif'
    +mobile()
        margin-right 10px
        color: #686868
        font-family 'sans-serif'
        font-size: 14px
.liend
    color: #585858
    margin-bottom: 8px
    font-family 'sans-serif'

.image
    +desktop()
        width: 116
        height 31
    +mobile()
        width: 116
        height 31

.button
    +desktop()
        border: 1px solid #3f3f3f
        border-radius 50px
        color #585858
        height 30px
        align-items center
        justify-content center
        width 30px
        margin-right 15px
    +mobile()
        border: 1px solid #3f3f3f
        border-radius: 50px
        width: 30px
        height 30px
        align-items center
        justify-content center
        margin-right 15px
.row
    flex-direction row
    justify-content center


    