.div
    +desktop()
        direction flex
        flex-direction: row
    +mobile()
        padding-right 0px
        width 100%
.text
    +desktop()
        font-family sans-serif
        font-weight normal
        font-style normal
        color #686868
        font-size: 18
        font-weight 600
        margin-bottom 4u
    +mobile()
        font-family sans-serif
        font-weight normal
        font-style normal
        color #686868
        font-size: 18
        margin-bottom 4u
.divside
    +desktop()
        margin-bottom: 8u
    +mobile()
        margin-bottom: 8u
        

.sidebar-widget
    +desktop()
        margin-bottom: 6u
    +mobile()
        margin-bottom: 6u;

.divrow
    +desktop()
        direction flex
        flex-direction: row
    +mobile()
        flex-direction: row

.input
    +desktop()
        color: #8e8d8d;
        background: #f1f1f1 none repeat scroll 0 0;
        padding-left 2u
        padding-right 6u
        height 6u
    +mobile()
        color: #8e8d8d;
        background: #f1f1f1 none repeat scroll 0 0;
        font-size: 13px;
        padding-left 2u
        padding-right 6u
        height 6u
        width: 100%
.button
    +desktop()
        width 6u
        height: 6u
        background-color: #dedede
        justify-content: center
        align-items: center
    +mobile()
        width 6u
        height 6u
        background-color #dedede
        justify-content center
        align-items center

.category
    +desktop()
        flex-direction row
        justify-content space-between
        margin-bottom 2u
        text-align: left
    +mobile()
        flex-direction row
        justify-content space-between
        margin-bottom 2u
        text-align: left
        
.categorytext
    +desktop()
        font-size 15px
        font-weight 600
        font-family sans-serif
        color #686868
    +mobile()
        font-size 15px
        font-weight 600
        font-family sans-serif
        color #686868
        
.color
    +desktop()
        flex-direction row
        justify-content space-between
        flex-wrap wrap
    +mobile()
        flex-direction row
        justify-content space-between
        flex-wrap wrap
        
.colorcircle
    +desktop()
        border-radius 50px
        float left
        height 22px
        width 22px
        flex-wrap wrap
    +mobile()
        border-radius 50px
        float left
        height 22px
        width 22px
        flex-wrap wrap
.red
    background-color #ff4136  
.blue
    background-color #3649ff
.pink
    background-color #ff01f0
.sky
    background-color #00c0ff
.green
    background-color #00ffae
.purple 
    background-color #8a00ff      

.size
    +desktop()
        text-align left 
        flex-direction row
        justify-content space-between
    +mobile()
        text-align left 
        flex-direction row
        justify-content space-between
         

.datatop
    +desktop()
        margin-left 2u
    +mobile()
        margin-left 2u

.div2
    +desktop()
        width 80% 
        float left
        padding-left 6u
.shopbar
    +desktop()
        padding-bottom 8u
        flex-direction row

.shopfoundselector
    +desktop()
        display flex
        text-align left
        flex-direction row
.shopfound
    +desktop()
        text-align left
        flex-direction row
.shopselector
    +desktop()
        margin-left 8u
        margin-top -3px
        flex-direction row
.shopfiltertab
    +desktop()
        display flex
        margin-top -3px
        align-self center
        margin-left: 60% 
        
        
.shoptabnav
    +desktop()
        display flex
        flex-wrap wrap
        flex-direction row
        
.shoptext
    +desktop()
        color #6c6c6c
        font-size 18px
        font-weight 600
        margin 0
        font-family sans-serif

.cards
    +desktop()
        flex-direction row
        flex-wrap wrap
        margin-left 2u

.card
    +desktop()
        background-color white
        padding-left 12.5px
        padding-right 12.5px
        box-shadow 2px 2px 6px rgba(black, 0.1)

.shopimage
    width: 35u
    height: 42u

.singleproduct
    margin-bottom 35px
    position relative

.prod
    padding-top 17px
    display flex
    flex-direction row
    justify-content space-between

.prodtext
    color #5d5d5d
    font-size 14px
    font-weight 600
    margin-bottom 8px
    font-family 'sans-serif'

.prodtextred
    color #ee3333
    font-weight 600
    font-size 14px
    font-family 'sans-serif'

.productcart
    padding-bottom 5px
    position relative

.productcarttext
    font-family 'sans-serif'
    font-size 14px
    color #686868

.stardiv
    flex-direction row
    margin 9px 0 10px

.titletop
    font-size 14px
    font-family 'sans-serif'
    color #6c6c6c

.topimage
    width: 91
    height: 88
.toprow
    flex-direction row
    margin-bottom 30px

.columntop
    margin-left 20px

.coasttop
    color #8b8b8b
    font-family 'sans-serif'

.starright
    margin-right 5px

