.main
  &.divrow
    flex-direction row
  &.div
    padding-right 0px
    +desktop()
      flex-direction row
  &.input
    color #8e8d8d
    background #f1f1f1
    font(l)
    padding-left 2u
    padding-right 6u
    height 6u  
  &.button
    width 6u
    height 6u
    background-color #dedede
    justify-content center
    align-items center
  &.category
    flex-direction row
    justify-content space-between
    margin-top 2u
    text-align left
  &.text 
    font(xl)
    font-weight 300
    font-family sans-serif
    color #686868
  &.color
    flex-direction row
    justify-content space-between
    flex-wrap wrap
  &.circlecolor
    radius(circle)
    float left
    height 3u
    width 3u
    flex-wrap wrap
  &.red
    background-color #ff4136  
  &.blue
    background-color #3649ff
  &.pink
    background-color #ff01f0
  &.sky
    background-color #00c0ff
  &.green
    background-color #00ffae
  &.purple 
    background-color #8a00ff 
  &.size
    text-align left 
    flex-direction row
    justify-content space-between
  &.sidebar-widget
    margin-top 6u

.stardiv
  &.di  
    flex-direction row
    margin-top 1u
    
  &.starright
    margin-left 1u

.side-widget
  &.d
    margin-top 8u
  &.text
    font-family sans-serif
    font-weight normal
    font-style normal
    color #686868
    font-weight 700
    font(xxl)
    margin-top 2u

.toprated
  &.row
    flex-direction row
    margin-top 4u
  &.image
    width 12u
    height 10u
  &.column
    margin-left 2u
  &.title
    font(xl)
    font-family 'sans-serif'
    color #6c6c6c
  &.coast
    color #8b8b8b
    font-family 'sans-serif'