.root
  margin-top 4u
  +tablet()
    margin-top 0
    flex 1
    float left
    padding-left 6u

.shopbar
  padding-bottom 6u 
  +desktop()
    padding-bottom 8u
    flex-direction row

.shopfoundselect
  text-align center   
  +desktop() 
    flex-direction row
 
.shopfound
  text-align left
  flex-direction row 
  +tablet()
    margin-left 2u
.selector
  flex-direction row
  +tablet()
    margin-left 6u
  +desktop()
    margin-left 8u
  +wide()
    margin-left 12u
.shoptabnav
  flex-wrap wrap
  flex-direction row
  justify-content flex-end
.filtertab
  +tablet()
    justify-content center
    flex 1
      
.shopBarText
  color #6c6c6c
  font(xl)
  font-weight 600
  margin 0
  font-family sans-serif
  &.red
    color #ff4136 
    
.filterButton
  margin-left 2u

.selectorText
  color #6c6c6c
  font(xl)
  font-weight 600
  margin 0
  font-family sans-serif