.root
  padding-right 0px

.searchBarRow
  flex-direction row

.input
  color #8e8d8d
  background #f1f1f1
  font(l)
  height 6u

.button
  width 6u
  height 6u
  background-color #dedede
  justify-content center
  align-items center

.categoryItem
  flex-direction row
  justify-content space-between
  margin-top 2u
  text-align left

.categoryText 
  font(l)
  font-family sans-serif
  color #686868

.colorItem
  flex-direction row
  justify-content space-between
  flex-wrap wrap
  justify-content flex-start

.circleColor
  radius(circle)
  float left
  height 3u
  width 3u
  flex-wrap wrap
  margin-left 2u
  &.first
    margin-left 0

.sizeItem
  text-align left 
  flex-direction row
  justify-content flex-start
  margin-top 2u

.sizeText
  font(l)
  margin-left 2u
  color #686868
  &.first
    margin-left 0

.priceFilter
  text-align left

.sliderRange
  background #ebebeb
  color #222222
  height 4px
  margin-top 2u
  flex-direction row

.sliderMain
  background #b7b7b7
  height 100%
  width 100%

.sliderLeft
  background #b7b7b7
  height 2u
  width 4px
  top -6px

.sliredRight
  background #b7b7b7
  height 2u
  width 4px
  top -6px
  left 0%

.priceSliderAmount
  flex-direction row
  margin-top 4u
  justify-content space-between

.priceSliderText
  color #575757
  font-weight bold
  font(m)
