.root
  flex-direction row
  margin-top 4u
.image
  width 12u
  height 10u
.column
  margin-left 2u
.title
  font(xl)
  font-family 'sans-serif'
  color #6c6c6c
.coast
  color #8b8b8b
  font-family 'sans-serif'