.root
  flex-direction row
  flex-wrap wrap
  margin-left 2u
.card
  background-color white
  padding-left 1u
  padding-right 1u
.cardItem
  margin-top 4u
.cardImage
  width 35u
  height 42u
.prod
  padding-top 2u
  flex-direction row
  justify-content space-between
.prodcard
  padding-bottom 1u
.cardText
  color #5d5d5d
  font(m)
  margin-top 1u
  font-family 'sans-serif'
  &.red
    color #ee3333