.header
  &.image
    padding-top 8u
    padding-bottom 8u
    +tablet()
      padding-top 12u
      padding-bottom 12u  
    +desktop()
      padding-top 26u
      padding-bottom 26u
    +wide()
      padding-top 30u
      padding-bottom 30u
  &.div
    padding-right 2u
    padding-left 2u
    +tablet()
      margin-left 20%
  &.text
    font(xxxxl)
    color #585858
    font-weight bold
    font-family 'sans-serif'
    text-align left
    +desktop()
      font(xxxxl)
  &.smaltext
    font(l)
    font-family 'sans-serif'
    color #585858 