.image
    +desktop()
        padding-top 26u
        padding-bottom 26u
        text-align left
        background-size cover
        font-family 'Open Sans'
        background-position center center
        font-weight normal
        font-style normal
        font-size 2u
    +mobile()
        padding-top: 8u;
        padding-bottom: 8.75u;
        background-size cover
.div
    +desktop()
        width: 100%
        margin-right auto 
        margin-left 20%
        padding-right 15px
        padding-left 15px
        color #686868
    +mobile()
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        color #686868

.text1
    +desktop()
        color #585858
        font-size 5u
        font-weight bold
        margin-bottom 16px
        font-family 'sans-serif'
        text-transform capitalize
        text-align left
        box-sizing border-box
    +mobile()
        font-size: 3.75u;
        color #585858
        font-weight bold
        font-family 'sans-serif'
        margin-bottom 16px
        text-align left
.text2
    +desktop()
        font-size: 14px
        font-family 'sans-serif'
        color #585858
    +mobile()
        font-size: 14px
        font-family 'sans-serif'
        color #585858
    